/* ==========================================================================
   Header
   ========================================================================== */
@white-color: #fff;
@black-color: #000;

.header-wrapper {
    padding: 20px 0;
}

/* ==========================================================================
   Header responsive
   ========================================================================== */
@media (max-width: 1199px) {
}

@media (max-width: 991px){

}

@media (max-width: 767px){

}
