/* ==========================================================================
Header
========================================================================== */
@white-color: #fff;
@black-color: #000;
header {
  height: 74px;
}

.header-wrapper {
  position: fixed;
  padding: 20px 0;
  z-index: 100;
  width: 100%;
  background-color: @kleur4;
  &.header-wrapper--responsive {
    position: static;
    padding: 0;
    margin: 0 0 10px 0;
    border-bottom: 2px solid @kleur1;
  }
}

.menu-button {
  display: inline-block;
  font-size: 38px;
  line-height: 25px;
  padding: 8px 10px;
  vertical-align: top;
  span {
    cursor: pointer;
  }
  &.menu-button--hidden {
    display: none;
  }
}

.grid-sizer {
  width: 16.66666667%;
}

.main-block {
  padding-bottom: 30px;
  min-height: 530px;

  .main-block__wrapper {
    background-color: @white-color;
    min-height: 500px;

    .main-block__content {
      position: relative;
      padding: 25px;
      height: 100%;

      .main-block__top-wrapper {
        overflow: auto;
        .main-block__phone-number {
          display: inline-block;
          font-size: 1.6em;
          line-height: 26px;
          color: @kleur1;
        }

        .main-block__search {
          display: inline-block;
          float: right;
          .main-block__search-form {
            position: relative;
            padding: 5px;
            border: 1px solid @kleur2;

            .main-block__search-icon {
              position: absolute;
              padding: 0;
              left: 5px;
              border: none;
              background-color: transparent;
            }
            .main-block__search-input {
              margin-left: 25px;
              width: auto;
              max-width: 130px;
              border: none;
              font-size: 16px;
              line-height: 20px;
              color: @kleur1;
            }
          }
        }
        @media (max-width: 480px) {
          text-align: center;
          .main-block__phone-number {
            display: block;
          }
          .main-block__search {
            margin-top: 10px;
            float: none;
            .main-block__search-form {
              .main-block__search-input {
                max-width: 150px;
              }
            }
          }
        }
        @media (min-width: 991px) and (max-width: 1199px) {
          text-align: center;
          .main-block__search {
            margin-top: 10px;
            float: none;
            .main-block__search-form {
              .main-block__search-input {
                max-width: 150px;
              }
            }
          }
        }
      }

      .main-block__logo {
        img {
          margin: 0 auto;
          padding: 30px 0;
        }
      }

      .main-block__footer {
        display: block;
        font-size: 18px;
        line-height: 22px;
        color: @kleur1;
        text-align: center;
      }
    }
  }
}
/* ==========================================================================
Header responsive
========================================================================== */
@media (max-width: 1199px) {

}
@media (max-width: 991px) {

}
@media (max-width: 767px) {

}
