/* ==========================================================================
Menu
========================================================================== */
@white-color: #fff;
@black-color: #000;

.main-nav {
  margin: 0;

  > li {
    display: inline-block;
    position: relative;
    padding: 0 15px;

    > a {
      color: @black-color;
      font-size: 30px;
      line-height: 34px;
    }

    &::after {
      content: "•";
      position: absolute;
      font-size: 30px;
      line-height: 34px;
      right: -5px;
    }

    &:last-child {
      &::after {
        content: "";
      }
    }

    &:focus,
    &:hover {
      > a {
        text-decoration: none;
        font-weight: bold;
      }

      > ul {
        display: block;
      }
    }

    > ul {
      display: none;
      position: absolute;
      background-color: @kleur4;
      z-index: 100;
      padding: 15px 0 0;

      > li {
        display: block;
        padding: 10px 15px;
        border-top: 2px solid @kleur1;
        text-align: left;
        &:last-child {
          border-bottom: 2px solid @kleur1;
        }
        > a {
          color: @black-color;

          font-size: 24px;
          line-height: 24px;

          &:focus,
          &:hover {
            color: @black-color;
            text-decoration: underline;
            font-weight: bold;
            border-top: none;
          }
        }

        &.active {
          > a {
            text-decoration: underline;
            font-weight: bold;
            border-top: none;
          }
        }
      }
    }
  }
}
/* ==========================================================================
Menu responsive
========================================================================== */
@media (max-width: 1199px) {}
  @media (max-width: 991px) {}
    @media (max-width: 767px) {}
