.transition(@transition) {
    -webkit-transition: @transition;
    transition: @transition;
}
@white-color: #ffffff;
@black-color: #000000;


/* ==========================================================================
   Gallery
   ========================================================================== */
.fancybox-opened{
    .fancybox-title{
        color: @black-color;
        font-weight: bold;
    }
}

.album{
    color: @black-color;
    font-size: 22px;
}

.gallery-wrapper{
    margin: 20px 0;
    .gallery-item{
        position: relative;
        margin-bottom: 20px;
        a{
            display: block;
        }
        .image-overlay{
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 50%;
            bottom: 50%;
            left: 50%;
            right: 50%;
            background-color: rgba(0, 0, 0, .5);
            .transition(all .5s);
            .icon{
                visibility: hidden;
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                font-size: 50px;
                color: @white-color;
                .transition(all .5s);
            }
        }
        &:hover{
            .image-overlay{
                visibility: visible;
                opacity: 1;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                .icon{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}


@media (max-width: 767px){
    .gallery-wrapper{
        max-width: 320px;
        margin: 20px auto;
    }
}