.transition(@transition) {
  -webkit-transition: @transition;
  transition: @transition;
}
.absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@white-color: #ffffff;
@black-color: #000000;


/* ==========================================================================
Gallery
========================================================================== */
.fancybox-opened {
  .fancybox-title {
    color: @black-color;
    font-weight: bold;
  }
}

.gallery-breadcrumbs {
  margin-bottom: 15px;
}

.gallery-groups {
  .gallery-group {
    margin-bottom: 20px;
    .gallery-group__link {
      color: @kleur2;
      .gallery-group__title {
        color: @kleur2;
        margin-top: 5px;
      }
    }
  }
}

.gallery-items {
  .gallery-item {
    margin-bottom: 20px;
  }
}

.gallery-item__preview {
  position: relative;
  a {
    display: block;
    img {
      margin: 0;
      width: 100%;
    }
  }
  .gallery-item__overlay {
    opacity: 0;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    background-color: rgba(0, 0, 0, .5);
    .transition(all .5s);
    .gallery-item__icon {
      opacity: 0;
      font-size: 50px;
      color: @white-color;
      .absolute-center();
      .transition(all .5s);
    }
  }
 
  &:hover {
    .gallery-item__overlay {
      opacity: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      .gallery-item__icon {
        opacity: 1;
      }
    }
  }
}

.gallery-item__preview--no-image {
  .gallery-item__overlay {
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    .gallery-item__icon {
      opacity: 1;
    }
  }
}