/*
Created on : 20-apr-2015
Added on   : 9-nov-2016
Author     : Michael / Lennart
*/
.transition(@secs) {
  transition-duration: @secs;
}

.files-wrapper {
  opacity: 0;
  .transition(0.5s);
  &.files-wrapper--loaded {
    opacity: 1;
  }
}

.isotope-wrapper {

}

.isotope {
  padding: 15px;
  display: inline-block;
  .isotope__link-wrapper {
    display: block;
    position: relative;
    height: 150px;
    width: 150px;
    padding: 10px;
    border-radius: 15px;
    .transition(0.3s);
    -webkit-box-shadow: 2px 2px 3px 0px rgba(63, 63, 63, 0.75);
    -moz-box-shadow:    2px 2px 3px 0px rgba(63, 63, 63, 0.75);
    box-shadow:         2px 2px 3px 0px rgba(63, 63, 63, 0.75);
    .isotope__name {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 17px;
      background: fade(#333, 55%);
      color: #ffffff;
      padding: 2px 5px;
      font-size: 17px;
      text-align: center;
    }
    .isotope__label {
      opacity: 0;
    }
    &:hover {
      transform: scale(1.1);
      z-index: 100;
      .isotope__label {
        opacity: 1;
        position: absolute;
        left: 115px;
        top: -20px;
        padding: 8px;
        border: 1px solid @kleur3;
        background-color: #ffffff;
        color: @kleur3;
        cursor: pointer;
        z-index: 100;
        .transition(0.3s);
      }
    }
  }
}

.isotope--file {
  .isotope__link-wrapper {
    background-color: #90A4AE;
    background-size: 70px, cover;
    background-repeat: no-repeat;
    background-position: center 10px, top center;
  }
}

.paginatie{
  text-align: center;
  margin: 20px 0 0;
  a{
    display: inline-block;
    padding: 5px 10px;
    background-color: @kleur3;
    color: #ffffff;
    text-decoration: none;
    opacity: 0.5;
    &.activeLimitLink, &:hover{
      opacity: 1;
    }
  }
}

.alert{
  border-radius: 0;
}
