.transition(@transition) {
  -webkit-transition: @transition;
  transition: @transition;
}


/* ==========================================================================
   Nieuwsitems
   ========================================================================== */

.news-breadcrumbs {
  margin-bottom: 15px;
}

.news-groups {
  .news-group {
    .news-group__link {

    }
  }
}

.news-items {
  .news-item {
    .news-item__title {
      color: @kleur3;
    }
    .news-item__date {
      font-size: 14px;
      line-height: 16px;
      color: #8c8c8c;
      margin-bottom: 10px;
    }
    .news-item__read-more {
      font-weight: bold;
      color:@kleur3;
    }
    .news-item__image {
      max-width: 100%;
    }
    [class^="icon-"], [class*=" icon-"] {
      display: inline-block;
      vertical-align: middle;
    }
    hr {
      border-color: @kleur2;
    }
  }
}

.news-item__wrapper--page-group {
  margin-bottom: 20px;
  .news-item__title {
    margin-top: 0;
    font-weight: bold;
  }
  .news-item__intro {
    height: 129px;
    .news-item__paragraph {
      line-height: 24px;
    }
  }
  .news-item__read-more {
    font-weight: bold;
    color: @kleur3;
    span {
      &::before {
        display: inline-block;
        font-size: 17px;
        line-height: 24px;
        vertical-align: top;
      }
    }
  }
  .news-item__image {
    width: 100%;
  }
}

.news-item__wrapper--small {
  .news-item__title {
    display: inline-block;
    margin: 10px 0;
  }
  .news-item__read-more {
    display: inline-block;
    font-weight: bold;
    color: @kleur3;
    span {
      &::before {
        display: inline-block;
        font-size: 17px;
        line-height: 24px;
        vertical-align: top;
      }
    }
  }
}

.news-detail {
  .news-detail__title {
    color:@kleur3;
  }
  .news-detail__date {
    font-size: 14px;
    line-height: 16px;
    color: #8c8c8c;
    margin-bottom: 10px;
  }
  .news-detail__image {
    max-width: 100%;
  }
  .news-detail__back-link {
    position: relative;
    display: table;
    margin-top: 20px;
  }
  [class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    vertical-align: middle;
  }
}

.news-pagination {
  text-align: center;
  margin: 20px 0 0;
  a{
    display: inline-block;
    padding: 5px 10px;
    background-color: @kleur3;
    color: #ffffff;
    text-decoration: none;
    opacity: 0.5;
    &.activeLimitLink, &:hover{
      opacity: 1;
    }
  }
}

@media (max-width: 767px) {
  .news-item {
    .news-item__image {
      margin: 10px auto 10px;
    }
  }
}
